@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
body{
    background-color: #fbceb1;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23fd5c63' fill-opacity='0.46' fill-rule='evenodd'/%3E%3C/svg%3E");
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 99vh;
}
@media screen and (max-width:768px) {
    .container{
flex-direction: column;
justify-content: center;
    }
    input{
        margin: 1rem;
        width: 100%;
    }
}
.heading{
    text-align: center;
    margin: 0rem;
    color: #222;
    font-family: 'Dancing Script', cursive;
}
.container{
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem auto;
    padding: 2rem 1.5rem;
}
input{
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
    padding: .5rem 1.5rem;
}
.btn{
    font-family: 'Kalam', cursive;
    width: fit-content;
}
button{
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    background-color: #eee;
    margin: .8rem auto;
    padding: .6rem 3.5rem;
}
.future{
    font-size: 1.5rem;
    padding: 1rem;
    backdrop-filter: blur(3px);
    text-align: center;
    margin: .7rem;
    
}