@import url("https://fonts.googleapis.com/css2?family=Mingzat&display=swap");

* {
  font-family: "Mingzat", sans-serif;
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(0, 0, 0); */
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 0.2rem;
  outline: 2px solid #fff;
}
.output{
    height:6rem;
    background-color: rgb(60, 60, 60);
}
.previous-operation {
    height: 2rem;
  padding: .2rem 1rem;
  margin: .3rem;
  margin-top: 0;
  text-align: end;
  color: #fff;
}
.current-operation {
  word-break: normal;
    margin: .3rem;
  font-weight: bolder;
  color: white;
  font-size: 1.4rem;
  text-align: end;
  padding: 0rem 1rem;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  padding: 1rem;
  transition: none;
  outline: 1px solid #000;
  background-color: #fff;
  opacity: 0.8;
}

button:hover {
  color: #fff;
  opacity: 1;
  background-color: rgb(80, 80, 80);
}

@media screen and (max-width: 400px) {
  button {
    font-size: 1rem;
    padding: 0.7rem;
  }
}

.grid-container {
  display: grid;
  /* grid-gap: 3px; */
  grid-template: repeat(6, 80%) / repeat(4, 1fr);
  /*grid-template: grid-template-rows  / grid-template-columns; */
}

.equal {
    background-color: #28d448;
    grid-column-start: 3;
    grid-column-end: 5;
}
.equal:hover{
    color: #000;
    background-color: #15ab30;
}
